@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    transition: .2s linear;
    font-weight: 500;
}
body{background-color: #121212;}
html{scroll-behavior: smooth;}
header{
    padding: 10px 0;
    
}
header, nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    cursor: pointer;
    margin: 0 20px;
    font-size: 24px;
}
nav a:hover{
    transform: scale(0.7);
}
header img{
    width: 150px;
    margin-left: 20px;
}

.main-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    color: white;
    width: 100%;
}

.home{
    background-image: url(https://imagizer.imageshack.com/img922/6491/eUcort.png);
    background-repeat: no-repeat;
}

section span{
    display: flex;
    justify-content: center;
    font-size: 96px;
    font-weight: 700;
}
.content{
    font-size: 24px;
    width: 40%;
}
.image img{
    width: 350px;
    height: auto;
}
.common{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card {
    --blur: 16px;
    --size: clamp(300px, 50vmin, 600px);
    width: var(--size);
    aspect-ratio: 4 / 3;
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    color: #000;
    transform: translateZ(0);
    margin: 10px;
  }
  
  .card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(calc(1 + (var(--hover, 0) * 0.25))) rotate(calc(var(--hover, 0) * 8deg));
    transition: transform 0.2s;
  }
  .card__img2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(calc(1 + (var(--hover, 0) * 0.25))) rotate(calc(var(--hover, 0) * -8deg));
    transition: transform 0.2s;
  }
  
  .card__footer {
    padding: 0 1.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: red;
    display: grid;
    gap: 0.5ch;
    background: hsl(0 0% 100% / 0.5);
    backdrop-filter: blur(var(--blur));
    height: 30%;
    align-content: center;
  }
  
  .card__action {
    position: absolute;
    aspect-ratio: 1;
    width: calc(var(--size) * 0.15);
    bottom: 30%;
    right: 1.5rem;
    transform: translateY(50%)
      translateY(
        calc(
          (var(--size) * 0.4)
        )
      )
      translateY(calc(var(--hover, 0) * (var(--size) * -0.4)));
    background: purple;
    display: grid;
    place-items: center;
    border-radius: 0.5rem;
    background: hsl(0 0% 100% / 0.5);
  /*   backdrop-filter: blur(calc(var(--blur) * 0.5)); */
    transition: transform 0.2s;
  }
  
  .card__action svg {
    aspect-ratio: 1;
    width: 50%;
  }
  
  .card__footer span:nth-of-type(1) {
    font-size: calc(var(--size) * 0.065);
  }
  
  .card__footer span:nth-of-type(2) {
    font-size: calc(var(--size) * 0.035);
  }
  
  .card:is(:hover, :focus-visible) {
    --hover: 1;
  }
  .obshi{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .soon{
    font-size: 24px;
    text-align: center;
  }
  .con{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .get{
    text-transform: capitalize;
    font-size: 48px;
    justify-content: left;
    padding-bottom: 10px;
  }
  .follow{
    font-size: 16px;
    font-weight: 400;
    justify-content: left;
    width: 20%;
    padding-bottom: 20px;
  }
  .line{
    background-color: white;
    height: 2px;
    width: 541px;
    margin: 0 0 20px 0;
    
  }
  section#contact{
    padding-left: 60px;
  }
  .footer-links a{
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    color: white;
    display: block;
    margin: 10px 0;
  }
  .logo{
    width: 600px;
  }
  .asty{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .bil{
    width: 150px;
    height: auto;
    border-radius: 50% ;
  }
  .revv{
    width: 150px;
    height: auto;
    border-radius: 50%;
  }
  .spons:hover{
    transform: scale(1.1);
  }
  .footer-links a:hover{
    transform: translateY(-5px);
  }
  .copyright a{
    text-decoration: underline;
    color: white;
  }
  .copyright{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .insta{
    width: 16px;
    height: 16px;
    margin: 10px;
  }
  .insta:hover{
    transform: translateY(-5px);
  }